# requirements.txt

# --- Flask Core ---
Flask
python-dotenv

# --- Selenium & Web Scraping ---
selenium
selenium-stealth
webdriver-manager
beautifulsoup4
icrawler
requests

# --- AI & Image Processing ---
tensorflow
rembg
Pillow
opencv-python
numpy
torch
torchvision
onnx
onnxruntime

# --- Data Handling & Google連携 ---
pandas
gspread
google-auth-oauthlib
google-api-python-client

# --- Utilities ---
pyoxipng

# --- Generative AI Libs ---
google-generativeai
openai
Flask-SQLAlchemy
Flask-WTF
flask_migrate
playwright
Flask-WTF
